<ion-header>
  <ion-toolbar>
    <ion-title>Add Restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Add Restaurant</ion-card-title>
    </ion-card-header>

    <ion-card-content>


      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder='Name' type='text' [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder='Address' [(ngModel)]="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input placeholder='Phone' type="number" [(ngModel)]="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rating</ion-label>
        <ion-input placeholder='Rating' [(ngModel)]="rating" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tags</ion-label>
        <ion-input placeholder='Tags' [(ngModel)]="tags"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comments</ion-label>
        <ion-textarea [(ngModel)]="comments"></ion-textarea>
      </ion-item>



        <ion-button type="submit" (click)="addRestaurant()">Add Restaurant</ion-button>






    </ion-card-content>
  </ion-card>

</ion-content>
