<ion-header>
  <ion-toolbar>
    <ion-title>Add Restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Add Restaurant</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Restaurant Name</ion-label>
        <ion-input placeholder='Restaurant Name' type='text' [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Street Number</ion-label>
        <ion-input placeholder='Street Number' [(ngModel)]="streetNo"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Street Name</ion-label>
        <ion-input placeholder='Street Name' [(ngModel)]="streetName"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Street Type</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="streetType">
          <ion-select-option value="Avenue">Avenue</ion-select-option>
          <ion-select-option value="Street">Street</ion-select-option>
          <ion-select-option value="Alley">Alley</ion-select-option>
          <ion-select-option value="Quay">Quay</ion-select-option>
          <ion-select-option value="Road">Road</ion-select-option>
          <ion-select-option value="Lane">Lane</ion-select-option>
          <ion-select-option value="Cul-de-sac">Cul-de-sac</ion-select-option>
          <ion-select-option value="Drive">Drive</ion-select-option>

        </ion-select>


      </ion-item>

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input placeholder='City'  [(ngModel)]="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input placeholder='Phone' type="number" [(ngModel)]="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position='fixed' >Rating(1-5)</ion-label>
        <br>
        <ion-range placeholder='Rating' min="1" max="5" step="1" snaps="true" [(ngModel)]="rating" >
          <ion-icon size="small" slot="start" name="sad-outline"></ion-icon>
      <ion-icon size="small" slot="end" name="happy-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tags</ion-label>
        <ion-input placeholder='Tags' [(ngModel)]="tags"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comments</ion-label>
        <ion-textarea [(ngModel)]="comments"></ion-textarea>
      </ion-item>


        <ion-button type="submit" (click)="addRestaurant()">Add Restaurant</ion-button>






    </ion-card-content>

  </ion-card>



</ion-content>
