<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>showRestaurant</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card >
    <ion-card-title>{{taskList[index].name}}</ion-card-title>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><ion-button><ion-icon name="logo-twitter"></ion-icon></ion-button></ion-col>
          <ion-col><ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-button><ion-icon name="call-outline"></ion-icon></ion-button></ion-col>
          <ion-col><ion-button><ion-icon name="mail-outline"></ion-icon></ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button></ion-col>
          <ion-col><ion-button><ion-icon name="pin-outline"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card>


    <ion-card-content>
      <p>Map and Rating would go here</p>
    </ion-card-content>

  </ion-card>

</ion-content>
